html{

}

body{
      margin: 0;
      color: black;
}

header{
  display: flex;
  color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  margin-right: 12px;

}
.logo span{
  margin-left: 10px;
  color: MediumAquamarine;
}

nav{
  display: inline-block;
}

nav span{
  text-decoration: underline;
  padding: 20px 10px;
}

a{color: black;}


.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column{
  display: flex;
   flex-direction: column;
    margin-right: 32px;}

/*main column*/
.main{

  width: 630px;
}

.image{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  margin-top: 15px;
  text-align: center;
}

.main-image{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
  border: 1px solid blue;
}

.text{
  /*font-family: Georgia;*/
  font-size: 17px;
  color: black;
}

.main-text{
    margin-top: 16px;
}

/*second column*/
.second{

    width: 300px;

}

.second-image{

  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

/*sub stories*/

.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;

}

.left-story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.left-text{
    margin-top: 16px;
}

.left-image{
  height: 300px;
  margin-top: 15px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.right-story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.right-text{
    margin-top: 16px;
}

.right-image{
  height: 300px;
  margin-top: 15px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);

}



.third{
  width: 240px;

}

.third-image{

}

.third-text{

}

.third-list h3{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
}

.bite{
  display: block;
  padding: 11px 20px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;

}

footer{
  display:flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  width: 100%;
  text-align: center;
}

.mytime{
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;

}

footer.nav{display: inline-block;
    padding-left: 25px;}

.info{
padding-top: 90px;

}

.copyright{
  font-family: Verdana;
  font-size: 12px;}
